<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BlackMarket.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>75D5529E2AB8BCBA0043D887</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75D552AE2AB8BCBB0043D887</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75D552B82AB8BCBC0043D887</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
